/* this makes the inside items placed in the center*/
.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > button {
  width: 18.75rem;
  background-color: #2e81f4;
  color: #eff1f5;
  font-weight: 800;
}

.login > button:hover {
  background-color: #eff1f5;
  color: #2e81f4;
}

/*Keep the good size in the middle*/
.login > div > img {
  object-fit: contain;
  height: 9.3rem;
}

.login > div {
display: flex;
flex-direction: column;
}
