html,
body {
  font-size: 16px;
}

.messageSender {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0.43rem 0.43rem -0.43rem rgba(0, 0, 0, 0.75);
  width: 100%;
}

.messageSender__top {
  display: flex;
  border-bottom: 0.06rem solid #e6e6e6;
  padding: 1rem;
}

.messageSender__top > form {
  display: flex;
  flex: 1;
}

.messageSender__top > form > input {
  outline-width: 0;
  border: none;
  padding: 0.32rem 1.2rem;
  margin: 0 0.62rem;
  border-radius: 62rem;
  background-color: #e6e6e6;
}

.messageSender__top > form > button {
  display: none;
}

.messageSender__input {
  flex: 1;
}

/*This causes the LiveVideo Photo/Video & feeling icons display in one line*/
.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  color: gray;
  margin: 0.32rem;
}

.messageSender__option > h3 {
  font-size: medium;
  margin-left: 0.62rem;
  cursor: pointer;
}

.messageSender__option:hover {
  background-color: #eff2f5;
  border-radius: 1.2rem;
}


